.first_block {
    height: 100vh;
    margin-bottom: vw(40);
    position: relative;
    padding-top: vw(84);
    @media all and (max-width: 1023px) {
        margin-bottom: 20px;
        padding-top: 65px;
    }
    &__model,
    #canvas_glass {
        width: 100%;
        height: 100vh;
        position: fixed;
        display: block;
        pointer-events: none;
    }
    &__fluid,
    &__model {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
    }
    &__in {
        position: relative;
        z-index: 3;
        pointer-events: none;
    }
    &__top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: vw(22);
        @media all and (max-width: 1023px) {
            padding-top: 20px;
            flex-direction: column;
            align-items: center;
        }
    }
    &__title {
        margin: 0;
        color: #FFF;
        font-size: vw(40);
        font-style: normal;
        font-weight: 500;
        line-height: vw(48);
        @media all and (max-width: 1023px) {
            font-size: 25px;
            margin-bottom: 10px;
            line-height: normal;
            text-align: left;
        }
    }
    &__stars {
        width: vw(315);
        text-align: center;
        @media all and (max-width: 1023px) {
            max-width: 315px;
            width: 100%;
            text-align: right;
        }
    }
    &__icons {
        display: flex;
        margin-bottom: vw(14);
        @media all and (max-width: 1023px) {
            margin-bottom: 10px;
            justify-content: flex-end;
        }
    }
    &__icon {
        width: vw(100);
        height: vw(100);
        flex: 0 0 vw(100);
        overflow: hidden;
        border-radius: 50%;
        border: vw(5) solid #2D62A2;
        &:not(:first-child) {
            margin-left: vw(-28);
            @media all and (max-width: 1023px) {
                margin-left: -30px;
            }
        }
        @media all and (max-width: 1023px) {
            width: 70px;
            height: 70px;
            flex: 0 0 70px;
            border: 3px solid #2D62A2;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__tit {
        color: #FFF;
        font-size: vw(20);
        font-style: normal;
        font-weight: 400;
        margin-bottom: vw(14);
        line-height: vw(28);
        @media all and (max-width: 1023px) {
            font-size: 14px;
            line-height: normal;
            margin-bottom: 10px;
        }
    }
    &__link {
        width: max-content;
        background: var(--gradient-blue, linear-gradient(180deg, #2D62A2 0%, #0EAACC 52.08%, #2D62A2 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-decoration: none;
        font-size: vw(16);
        font-style: normal;
        font-weight: 600;
        @media all and (max-width: 1023px) {
            font-size: 12px;
            font-weight: bold;
        }
    }
}