body {
    box-sizing: border-box;
}

*,
::after,
::before {
    font-family: 'Montserrat', sans-serif, cursive;
    box-sizing: inherit;
    outline: none;
    scroll-behavior: smooth;
    transition: all .3s ease;
}
.map-block, .map-block * {
    transition: unset;
}
html,
body {
    margin: 0;
    padding: 0;
    background: #000;
    height: 100%;
}

.ovh {
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}
.header_first {
    position: relative;
    z-index: 1;
}
section:not(.main_slider) {
    transition: opacity .3s ease;
    opacity: 1;
}
.content {
    z-index: 2;
    position: relative;
    transform-style: preserve-3d;
    perspective: 10000px;
    
    transition: unset;
    // background: #fff;
    // margin-top: -800vh;
    
    &.allBlocksHidden &__perspective > section:not(.main_slider),
    &.allBlocksHidden footer {
        opacity: 0;
        visibility: hidden;
        height: 0;
        overflow: hidden;
    }
    &.allBlocksHidden &__perspective {
        transform: scale(0) rotateY(90deg);        
        transform-origin: 50% 0;
    }
    &__perspective {
        transition: none;
    }
}

.footer {
    flex: 0 0 auto;
}

.center_block {
    max-width: vw(1920);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: vw(100);
    padding-right: vw(100);
    @media all and (max-width: 1023px) {
        max-width: 1705px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

img {
    max-width: 100%;
    height: auto;
}

textarea {
    resize: none;
}

#canvas {
    opacity: 0;
}

// scrollbar
/* width */
*::-webkit-scrollbar {
    width: 5px;
    height: 3px;
}

/* Track */
*::-webkit-scrollbar-track {
    background: #E4E4E4;
    border-radius: 10px 0px 0px 10px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: #224875;
    border-radius: 10px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: #224875;
}

// scrollbar end

.main_prod__title {
}