.main_work {
    padding-top: vw(100);
    overflow: hidden;
    background: #F2F3F7;
    padding-bottom: vw(100);
    * {
        transition: unset;
    }
    @media all and (max-width: 1023px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    &__title {
        padding-bottom: vw(30);
        color: #020202;
        text-align: center;
        font-size: vw(42);
        font-style: normal;
        font-weight: 400;
        line-height: vw(50);
        text-transform: uppercase;
        @media all and (max-width: 1023px) {
            line-height: normal;
            font-size: 20px;
            padding-bottom: 30px;
        }
    }
    .slick-list {
        margin: 0 vw(-120);
        overflow: unset;
        height: vw(800);
    }
    .slick-track {
        display: flex;
        align-items: center;
    }
    .slick-slide {
        margin-left: vw(60);
        margin-right: vw(60);
        width: vw(680);
        position: relative;
        .main_work__block {
            &:after {
                content: "";
                position: absolute;
                width: vw(1207);
                height: vw(790);
                top: 0;
                left: 0;
                margin-left: vw(-210);
            }
        }
        &.slick-center {
            z-index: 1;
            width: vw(800);
            .main_work__block {
                height: vw(632);
                width: vw(773);
                &:after {
                    background: url(../img/monitor.png) 50% / 100% no-repeat;
                }
                img {
                    width: vw(773);
                    position: absolute;
                    z-index: -1;
                    height: vw(530);
                    transform: rotate3d(0, 0, 0, 0deg) skew(3deg, 7deg);
                    top: vw(62);
                    left: vw(5);
                    border-radius: 0;
                }
            }
        }
    }
    &__block {
        height: vw(430);
        position: relative;
        cursor: pointer;
        img {
            height: vw(430);
            width: 100%;
            border-radius: vw(24);
        }
        border-radius: vw(24);
        &:before {
            content: '';
            position: absolute;
            width: vw(77);
            height: vw(77);
            margin-top: vw(-37);
            margin-left: vw(-37);
            left: 50%;
            top: 50%;
            pointer-events: none;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='105' height='105' viewBox='0 0 105 105' fill='none'%3E%3Cg filter='url(%23filter0_b_12_3390)'%3E%3Ccircle cx='52.5' cy='52.5' r='52.5' fill='white' fill-opacity='0.5'/%3E%3C/g%3E%3Cpath d='M71.9318 52.5778L42.2727 69.7015L42.2727 35.4541L71.9318 52.5778Z' fill='black'/%3E%3Cdefs%3E%3Cfilter id='filter0_b_12_3390' x='-20' y='-20' width='145' height='145' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImageFix' stdDeviation='10'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_12_3390'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur_12_3390' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E") 50% / 100% no-repeat;
            @media all and (max-width: 1023px) {
                width: 50px;
                height: 50px;
                margin-left: -25px;
                margin-top: -25px;
            }
        }
        &:hover {
            &:before {
                width: vw(145);
                height: vw(145);
                margin-top: vw(-72);
                margin-left: vw(-72);
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='183' height='184' viewBox='0 0 183 184' fill='none'%3E%3Cg filter='url(%23filter0_b_216_70)'%3E%3Ccircle cx='91.5' cy='92.4141' r='91.5' fill='white' fill-opacity='0.2'/%3E%3C/g%3E%3Cg filter='url(%23filter1_b_216_70)'%3E%3Ccircle cx='91.5' cy='92.4141' r='70.5' fill='white' fill-opacity='0.5'/%3E%3C/g%3E%3Cg filter='url(%23filter2_b_216_70)'%3E%3Ccircle cx='91.5' cy='92.5' r='52.5' fill='white'/%3E%3C/g%3E%3Cpath d='M110.932 92.5778L81.2727 109.701L81.2727 75.4541L110.932 92.5778Z' fill='black'/%3E%3Cdefs%3E%3Cfilter id='filter0_b_216_70' x='-20' y='-19.0859' width='223' height='223' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImageFix' stdDeviation='10'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_216_70'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur_216_70' result='shape'/%3E%3C/filter%3E%3Cfilter id='filter1_b_216_70' x='1' y='1.91406' width='181' height='181' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImageFix' stdDeviation='10'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_216_70'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur_216_70' result='shape'/%3E%3C/filter%3E%3Cfilter id='filter2_b_216_70' x='19' y='20' width='145' height='145' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImageFix' stdDeviation='10'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_216_70'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur_216_70' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E") 50% / 100% no-repeat;
                @media all and (max-width: 1023px) {
                    width: 100px;
                    height: 100px;
                    margin-top: -50px;
                    margin-left: -50px;
                }
            }
        }
    }
}