.main_pref {
    padding-top: vw(50);
    padding-bottom: vw(75);
    @media all and (max-width: 1023px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    &__blocks {
        display: flex;
        justify-content: space-around;
        @media all and (max-width: 768px) {
            flex-wrap: wrap;
        }
        @media all and (max-width: 680px) {
            flex-direction: column;
        }
    }
    &__block {
        width: 100%;
        display: flex;
        @media all and (max-width: 680px) {
            flex-direction: column;
            max-width: 100% !important;
            width: 100% !important;
            text-align: center;
            align-items: center;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
        &:nth-child(1) {
            max-width: vw(418);
            align-items: flex-end;
            margin-top: vw(94);
            @media all and (max-width: 768px) {
                max-width: 418px;
            }
            .main_pref__img {
                width: vw(470);
                @media all and (max-width: 768px) {
                    max-width: 470px;
                    width: 100%;
                }
            }
            .main_pref__text {
                width: vw(340);
                margin-left: vw(-120);
                margin-bottom: vw(39);
                @media all and (max-width: 768px) {
                    max-width: 340px;
                    width: 100%;
                }
            }
        }
        &:nth-child(2) {
            max-width: vw(249);
            flex-direction: column;
            align-items: center;
            text-align: center;
            @media all and (max-width: 768px) {
                max-width: 249px;
            }
            .main_pref__text {
                max-width: vw(232);
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                margin-top: vw(-32);
                @media all and (max-width: 768px) {
                    max-width: 232px;
                }
            }
        }
        &:nth-child(3) {
            max-width: vw(420);
            align-items: flex-end;
            margin-bottom: vw(19);
            @media all and (max-width: 768px) {
                max-width: 420px;
            }
            .main_pref__img {
                flex: 0 0 vw(291);
                @media all and (max-width: 768px) {
                    flex: 0 0 291px;
                }
            }
            .main_pref__text {
                width: vw(180);
                position: relative;
                margin-left: vw(-86);
                margin-bottom: vw(2);
                bottom: vw(18);
                @media all and (max-width: 768px) {
                    width: 240px;
                }
            }
        }
    }
    &__img {
        @media all and (max-width: 680px) {
            flex: none !important;
            max-width: 120px !important;
            width: 100% !important;
            margin-bottom: 10px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__text {
        color: #000;
        font-size: vw(16);
        font-style: normal;
        font-weight: 400;
        line-height: vw(24);
        @media all and (max-width: 768px) {
            line-height: normal;
            font-size: 12px;
            margin: 0 !important;
            max-width: 100% !important;
            width: 100% !important;
            text-align: center;
        }
    }
}