.main_slider {
    font-size: 0;
    padding-top: vw(40);
    padding-bottom: vw(50);
    @media all and (max-width: 1023px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    &__slider {
        .slick-prev {
            font-size: 0;
            position: absolute;
            width: vw(98);
            height: vw(98);
            border: 0;
            border-radius: 50%;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='98' height='98' viewBox='0 0 98 98' fill='none'%3E%3Cpath d='M0.500012 49C0.500014 22.2142 22.2142 0.500001 49 0.500003C75.7858 0.500006 97.5 22.2142 97.5 49C97.5 75.7858 75.7858 97.5 49 97.5C22.2142 97.5 0.50001 75.7858 0.500012 49Z' fill='white' stroke='black'/%3E%3Cpath d='M60.9871 49.2555C60.9871 49.2555 47.8491 49.2555 36 49.2555M36 49.2555C44.5597 49.2555 46.1397 58 46.1397 58M36 49.2555C44.5597 49.2555 46.1397 40.5111 46.1397 40.5111' stroke='black' stroke-width='2'/%3E%3C/svg%3E") 50% / 100% no-repeat;
            top: 50%;
            left: vw(-49);
            cursor: pointer;
            z-index: 2;
            margin-top: vw(-49);
            &:hover {
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='98' height='98' viewBox='0 0 98 98' fill='none'%3E%3Cpath d='M97.5 49C97.5 75.7858 75.7858 97.5 49 97.5C22.2142 97.5 0.499987 75.7858 0.499991 49C0.499996 22.2142 22.2142 0.500004 49 0.500009C75.7858 0.500013 97.5 22.2142 97.5 49Z' fill='url(%23paint0_linear_32_980)' stroke='black'/%3E%3Cpath d='M37.0129 48.7445C37.0129 48.7445 50.1509 48.7445 62 48.7445M62 48.7445C53.4403 48.7445 51.8603 40 51.8603 40M62 48.7445C53.4403 48.7445 51.8603 57.4889 51.8603 57.4889' stroke='black' stroke-width='2'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_32_980' x1='49' y1='8.56743e-06' x2='49' y2='98' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23AE8625'/%3E%3Cstop offset='0.328125' stop-color='%23F7EF8A'/%3E%3Cstop offset='0.677083' stop-color='%23D2AC47'/%3E%3Cstop offset='1' stop-color='%23EDC967'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E") 50% / 100% no-repeat;
                transform: rotate(180deg);
            }
            @media all and (max-width: 1023px) {
                width: 40px;
                height: 40px;
                left: -20px;
                margin-top: -20px;
            }
        }
        .slick-next {
            font-size: 0;
            position: absolute;
            width: vw(98);
            height: vw(98);
            transform: rotate(180deg);
            border: 0;
            border-radius: 50%;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='98' height='98' viewBox='0 0 98 98' fill='none'%3E%3Cpath d='M0.500012 49C0.500014 22.2142 22.2142 0.500001 49 0.500003C75.7858 0.500006 97.5 22.2142 97.5 49C97.5 75.7858 75.7858 97.5 49 97.5C22.2142 97.5 0.50001 75.7858 0.500012 49Z' fill='white' stroke='black'/%3E%3Cpath d='M60.9871 49.2555C60.9871 49.2555 47.8491 49.2555 36 49.2555M36 49.2555C44.5597 49.2555 46.1397 58 46.1397 58M36 49.2555C44.5597 49.2555 46.1397 40.5111 46.1397 40.5111' stroke='black' stroke-width='2'/%3E%3C/svg%3E") 50% / 100% no-repeat;
            top: 50%;
            right: vw(-49);
            cursor: pointer;
            z-index: 2;
            margin-top: vw(-49);
            &:hover {                
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='98' height='98' viewBox='0 0 98 98' fill='none'%3E%3Cpath d='M97.5 49C97.5 75.7858 75.7858 97.5 49 97.5C22.2142 97.5 0.499987 75.7858 0.499991 49C0.499996 22.2142 22.2142 0.500004 49 0.500009C75.7858 0.500013 97.5 22.2142 97.5 49Z' fill='url(%23paint0_linear_32_980)' stroke='black'/%3E%3Cpath d='M37.0129 48.7445C37.0129 48.7445 50.1509 48.7445 62 48.7445M62 48.7445C53.4403 48.7445 51.8603 40 51.8603 40M62 48.7445C53.4403 48.7445 51.8603 57.4889 51.8603 57.4889' stroke='black' stroke-width='2'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_32_980' x1='49' y1='8.56743e-06' x2='49' y2='98' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23AE8625'/%3E%3Cstop offset='0.328125' stop-color='%23F7EF8A'/%3E%3Cstop offset='0.677083' stop-color='%23D2AC47'/%3E%3Cstop offset='1' stop-color='%23EDC967'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E") 50% / 100% no-repeat;
                transform: rotate(0deg);
            }
            @media all and (max-width: 1023px) {
                margin-top: -20px;
                width: 40px;
                height: 40px;
                right: -20px;
            }
        }
    }
    .slick-list {
        box-shadow: 0px 20px 50px 0px rgba(24, 72, 100, 0.50);
        border-radius: 20px;
        overflow: hidden;
    }
    &__block {
        border-radius: 20px;
        overflow: hidden;
        padding: vw(60) vw(70);
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 50%;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            height: 100%;
            background: linear-gradient(81deg, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.00) 100%);
            backdrop-filter: blur(2px);
            z-index: 1;
            pointer-events: none;
        }
        @media all and (max-width: 1023px) {
            padding: 20px;
        }
    }
    &__info {
        position: relative;
        z-index: 2;
        width: 50%;
        @media all and (max-width: 1023px) {
            width: 100%;
        }
    }
    &__title {
        color: #FFF;
        font-size: vw(48);
        font-style: normal;
        font-weight: 400;
        line-height: vw(60);
        text-transform: uppercase;
        margin-bottom: vw(28);
        @media all and (max-width: 1023px) {
            margin-bottom: 10px;
            font-size: 20px;
            line-height: normal;
        }
    }
    &__subtitle {
        color: #FFF;
        font-size: vw(24);
        font-style: normal;
        font-weight: 400;
        line-height: vw(30);
        margin-bottom: vw(28);
        @media all and (max-width: 1023px) {
            font-size: 14px;
        }
    }
    &__item {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: flex-end;
        margin-bottom: vw(50);
        width: 50%;
        @media all and (max-width: 1023px) {
            width: 100%;
            margin-bottom: 20px;
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__tit {
        color: #FFF;
        font-size: vw(18);
        font-style: normal;
        font-weight: 400;
        line-height: vw(26);
        max-width: vw(377);
        width: 100%;
        margin-right: vw(30);
        @media all and (max-width: 1023px) {
            margin-right: 0px;
            max-width: 300px;
            line-height: normal;
            font-size: 14px;
            margin-bottom: 10px;
        }
    }
    &__bl {
        display: flex;
        align-items: flex-end;
        width: inherit;
    }
    &__img {
        flex: 0 0 vw(120);
        @media all and (max-width: 1023px) {
            flex: 0 0 60px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__txt {
        width: 100%;
        color: #fff;
        font-size: vw(14);
        font-style: normal;
        font-weight: 600;
        line-height: vw(22);
        @media all and (max-width: 1023px) {
            font-size: 13px;
        }
    }
    &__buttons {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        width: 50%;
        @media all and (max-width: 1023px) {
            width: 100%;
            align-items: flex-start;
            flex-direction: column;
        }
    }
    &__button {
        max-width: vw(236);
        width: 100%;
        margin-right: vw(58);
        border: 0;
        text-align: center;
        color: #FFF;
        font-size: vw(18);
        font-style: normal;
        font-weight: 500;
        cursor: pointer;
        padding: vw(20);
        border-radius: 10px;
        overflow: hidden;
        background: linear-gradient(180deg, #1428A0 0%, #475DE1 30.21%, #475DE1 80.73%, #1428A0 100%);
        position: relative;
        span {
            position: relative;
            z-index: 2;
        }
        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 4px;
            background: #02446C;
            left: 0;
            right: 0;
            transition: unset;
            z-index: 1;
        }
        &:hover {
            background: linear-gradient(180deg, #1428A0 0%, #1428A0 35.42%, #475DE1 99.99%, #1428A0 100%);
            &:before {
                height: 2px;
            }
        }
        @media all and (max-width: 1023px) {
            max-width: max-content;
            margin-right: 0px;
            padding: 10px 20px;
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 10px;
        }
    }
    &__subtit {
        color: #fff;
        font-size: vw(18);
        font-style: normal;
        line-height: vw(26);
        font-weight: 500;
        @media all and (max-width: 1023px) {
            font-size: 14px;
            line-height: normal;
        }
    }
}