.main_none {
    padding-top: vw(100);
    background: #fff;
    padding-bottom: vw(100);
    @media all and (max-width: 1023px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    &__in {
        display: flex;
        position: relative;
        @media all and (max-width: 1023px) {
            flex-direction: column;
            position: unset;
        }
    }
    &__title {
        color: #020202;
        font-size: vw(42);
        font-style: normal;
        font-weight: 400;
        line-height: vw(50);
        text-transform: uppercase;
        flex: 0 0 vw(580);
        padding-right: vw(30);
        padding-top: vw(50);
        @media all and (max-width: 1023px) {
            flex: none;
            font-size: 20px;
            margin-bottom: 20px;
            padding-top: 0;
            line-height: normal;
            padding-right: 0;
        }
    }
    &__blocks {
        width: calc(100% - vw(580));
        @media all and (max-width: 1023px) {
            width: 100%;
        }
    }
    .slick-slider {
        position: unset;
        @media all and (max-width: 1023px) {
            position: relative;
        }
    }
    .slick-prev {
        font-size: 0;
        position: absolute;
        width: vw(60);
        height: vw(60);
        border: 0;
        border-radius: 50%;
        background: rgba(88, 147, 255, 0.50) url("data:image/svg+xml,%3Csvg width='12' height='18' viewBox='0 0 12 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2_2920)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.55381 9.00003L9.65031 12.134C10.4044 12.8972 10.4219 14.1196 9.68994 14.9041L8.73804 15.9243C7.94444 16.7749 6.59515 16.7712 5.80611 15.9164L1.29234 11.0265C0.235886 9.88207 0.235887 8.118 1.29234 6.97351L5.98318 1.89175C6.70372 1.11118 7.90878 1.03008 8.7274 1.70708L9.81511 2.60663C10.7204 3.35529 10.7885 4.71925 9.96235 5.55439L6.55381 9.00003Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2_2920'%3E%3Crect width='11' height='17' fill='white' transform='translate(0.5 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") 50% no-repeat;
        bottom: vw(80);
        left: vw(100);
        cursor: pointer;
        z-index: 2;
        &:hover {
            background: #1428A0 url("data:image/svg+xml,%3Csvg width='12' height='18' viewBox='0 0 12 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2_2920)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.55381 9.00003L9.65031 12.134C10.4044 12.8972 10.4219 14.1196 9.68994 14.9041L8.73804 15.9243C7.94444 16.7749 6.59515 16.7712 5.80611 15.9164L1.29234 11.0265C0.235886 9.88207 0.235887 8.118 1.29234 6.97351L5.98318 1.89175C6.70372 1.11118 7.90878 1.03008 8.7274 1.70708L9.81511 2.60663C10.7204 3.35529 10.7885 4.71925 9.96235 5.55439L6.55381 9.00003Z' fill='%23ffffff'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2_2920'%3E%3Crect width='11' height='17' fill='%23ffffff' transform='translate(0.5 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") 50% no-repeat
        }
        &.slick-disabled {
            pointer-events: none;
            background: rgba(88, 147, 255, 0.50) url("data:image/svg+xml,%3Csvg width='12' height='18' viewBox='0 0 12 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2_2920)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.55381 9.00003L9.65031 12.134C10.4044 12.8972 10.4219 14.1196 9.68994 14.9041L8.73804 15.9243C7.94444 16.7749 6.59515 16.7712 5.80611 15.9164L1.29234 11.0265C0.235886 9.88207 0.235887 8.118 1.29234 6.97351L5.98318 1.89175C6.70372 1.11118 7.90878 1.03008 8.7274 1.70708L9.81511 2.60663C10.7204 3.35529 10.7885 4.71925 9.96235 5.55439L6.55381 9.00003Z' fill='%23969FA8'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2_2920'%3E%3Crect width='11' height='17' fill='%23969FA8' transform='translate(0.5 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") 50% no-repeat;
        }
        @media all and (max-width: 1023px) {
            width: 40px;
            height: 40px;
            left: -20px;
            margin-top: -20px;
            bottom: 50%;
        }
    }
    .slick-next {
        font-size: 0;
        position: absolute;
        width: vw(60);
        height: vw(60);
        border: 0;
        border-radius: 50%;     
        background: rgba(88, 147, 255, 0.50) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='16' viewBox='0 0 11 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.10467 7.99999L0.87066 4.48847C0.116173 3.66924 0.176237 2.39151 1.00425 1.64667L1.9227 0.820466C2.73645 0.0884565 3.98746 0.146551 4.72987 0.950826L9.36614 5.97346C10.4226 7.11795 10.4226 8.88203 9.36614 10.0265L4.72987 15.0492C3.98746 15.8534 2.73645 15.9115 1.9227 15.1795L1.00425 14.3533C0.176237 13.6085 0.116173 12.3307 0.87066 11.5115L4.10467 7.99999Z' fill='white'/%3E%3C/svg%3E") 50% no-repeat;
        bottom: vw(80);
        left: vw(185);
        cursor: pointer;
        z-index: 2;
        &:hover {                
            background: #1428A0 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='16' viewBox='0 0 11 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.10467 7.99999L0.87066 4.48847C0.116173 3.66924 0.176237 2.39151 1.00425 1.64667L1.9227 0.820466C2.73645 0.0884565 3.98746 0.146551 4.72987 0.950826L9.36614 5.97346C10.4226 7.11795 10.4226 8.88203 9.36614 10.0265L4.72987 15.0492C3.98746 15.8534 2.73645 15.9115 1.9227 15.1795L1.00425 14.3533C0.176237 13.6085 0.116173 12.3307 0.87066 11.5115L4.10467 7.99999Z' fill='%23ffffff'/%3E%3C/svg%3E") 50% no-repeat;
        }
        &.slick-disabled {
            pointer-events: none;
            background: rgba(88, 147, 255, 0.50) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='16' viewBox='0 0 11 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.10467 7.99999L0.87066 4.48847C0.116173 3.66924 0.176237 2.39151 1.00425 1.64667L1.9227 0.820466C2.73645 0.0884565 3.98746 0.146551 4.72987 0.950826L9.36614 5.97346C10.4226 7.11795 10.4226 8.88203 9.36614 10.0265L4.72987 15.0492C3.98746 15.8534 2.73645 15.9115 1.9227 15.1795L1.00425 14.3533C0.176237 13.6085 0.116173 12.3307 0.87066 11.5115L4.10467 7.99999Z' fill='%23969FA8'/%3E%3C/svg%3E") 50% no-repeat;
        }
        @media all and (max-width: 1023px) {
            margin-top: -20px;
            width: 40px;
            height: 40px;
            right: -20px;
            left: unset;
            bottom: 50%;
        }
    }
    .slick-list {
        margin-left: vw(-10);
        margin-right: vw(-10);
        @media all and (max-width: 1023px) {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    .slick-slide {
        margin-left: vw(10);
        margin-right: vw(10);
        width: vw(415);
        @media all and (max-width: 1023px) {
            margin-left: 10px;
            margin-right: 10px;
            width: 200px;
        }
        @media all and (max-width: 500px) {
            &:before {
                display: none;
            }
            > div {
                display: flex;
                justify-content: center;
            }
        }
    }
    &__block {
        position: relative;
        cursor: pointer;
        border-radius: 24px;
        * {
            pointer-events: none;
        }
        &:before {
            content: '';
            position: absolute;
            width: vw(77);
            height: vw(77);
            margin-top: vw(-37);
            margin-left: vw(-37);
            left: 50%;
            top: 50%;
            pointer-events: none;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='105' height='105' viewBox='0 0 105 105' fill='none'%3E%3Cg filter='url(%23filter0_b_12_3390)'%3E%3Ccircle cx='52.5' cy='52.5' r='52.5' fill='white' fill-opacity='0.5'/%3E%3C/g%3E%3Cpath d='M71.9318 52.5778L42.2727 69.7015L42.2727 35.4541L71.9318 52.5778Z' fill='black'/%3E%3Cdefs%3E%3Cfilter id='filter0_b_12_3390' x='-20' y='-20' width='145' height='145' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImageFix' stdDeviation='10'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_12_3390'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur_12_3390' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E") 50% / 100% no-repeat;
            @media all and (max-width: 1023px) {
                width: 50px;
                height: 50px;
                margin-left: -25px;
                margin-top: -25px;
            }
        }
        &:hover {
            &:before {
                width: vw(145);
                height: vw(145);
                margin-top: vw(-72);
                margin-left: vw(-72);
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='183' height='184' viewBox='0 0 183 184' fill='none'%3E%3Cg filter='url(%23filter0_b_216_70)'%3E%3Ccircle cx='91.5' cy='92.4141' r='91.5' fill='white' fill-opacity='0.2'/%3E%3C/g%3E%3Cg filter='url(%23filter1_b_216_70)'%3E%3Ccircle cx='91.5' cy='92.4141' r='70.5' fill='white' fill-opacity='0.5'/%3E%3C/g%3E%3Cg filter='url(%23filter2_b_216_70)'%3E%3Ccircle cx='91.5' cy='92.5' r='52.5' fill='white'/%3E%3C/g%3E%3Cpath d='M110.932 92.5778L81.2727 109.701L81.2727 75.4541L110.932 92.5778Z' fill='black'/%3E%3Cdefs%3E%3Cfilter id='filter0_b_216_70' x='-20' y='-19.0859' width='223' height='223' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImageFix' stdDeviation='10'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_216_70'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur_216_70' result='shape'/%3E%3C/filter%3E%3Cfilter id='filter1_b_216_70' x='1' y='1.91406' width='181' height='181' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImageFix' stdDeviation='10'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_216_70'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur_216_70' result='shape'/%3E%3C/filter%3E%3Cfilter id='filter2_b_216_70' x='19' y='20' width='145' height='145' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImageFix' stdDeviation='10'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_216_70'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur_216_70' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E") 50% / 100% no-repeat;
                @media all and (max-width: 1023px) {
                    width: 100px;
                    height: 100px;
                    margin-top: -50px;
                    margin-left: -50px;
                }
            }
        }
        @media all and (max-width: 500px) {
            max-width: 220px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}