.main_port {
    background: #F2F3F7;
    padding-top: vw(50);
    padding-bottom: vw(100);
    @media all and (max-width: 1023px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    &__subtitle {
        color: #000;
        font-size: vw(18);
        font-style: normal;
        font-weight: 400;
        line-height: vw(24);
        margin-bottom: vw(30);
        max-width: vw(170);
        width: 100%;
        @media all and (max-width: 1023px) {
            max-width: 100%;
            margin-bottom: 10px;
            line-height: normal;
            font-size: 14px;
        }
    }
    &__title {
        color: #000;
        font-size: vw(32);
        font-style: normal;
        font-weight: 400;
        line-height: vw(36);
        text-transform: uppercase;
        margin-bottom: vw(30);
        @media all and (max-width: 1023px) {
            margin-bottom: 10px;
            font-size: 20px;
            line-height: normal;
        }
    }
    .tab-buttons {
        display: flex;
        margin-left: vw(-15);
        overflow: auto;
        width: max-content;
        margin-right: vw(-15);
        padding-bottom: vw(20);
        padding-top: vw(20);
        @media all and (max-width: 1023px) {
            padding-bottom: 10px;
            padding-top: 20px;
            margin-left: -10px;
            margin-right: -10px;
        }
    }
    .tab {
        cursor: pointer;
        color: var(--palette-black, #000);
        text-align: center;
        font-size: vw(18);
        font-style: normal;
        font-weight: 500;
        line-height: vw(26);
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
        padding: vw(20) vw(40);
        margin: 0 vw(15);
        border-bottom: 2px solid transparent;
        white-space: nowrap;
        &.active {
            border-color: #02446C;
            color: #1428A0;
            box-shadow: unset;
        }
        @media all and (max-width: 1023px) {
            font-size: 16px;
            padding: 10px 20px;
            margin: 0 10px;
            line-height: normal;
        }
    }
    .tab-content {
        display: none;
        padding-top: vw(16);
        @media all and (max-width: 1023px) {
            padding-top: 10px;
        }
    }
    .tab-content.active {
        display: block;
    }
    .tab-buttons {
        display: flex;
        width: 100%;
    }
}